@import "./blocks//button/button.css";
@import "./blocks/container/container.css";
@import "./blocks/header-nav/header-nav.css";
@import "./blocks/header/header.css";

@import "./blocks/main-container/main-container.css";
@import "./blocks/nav-list/nav-list.css";
@import "./blocks/user-identification/user-identification.css";

@import "./blocks/logo/logo.css";
@import "./blocks/buy-domain/buy-domain.css";
@import "./blocks/domain-selector/domain-selector.css";
@import "./blocks/price-table/price-table.css";
@import "./blocks/package-container/package-container.css";
@import "./blocks/package/package.css";
@import "./blocks/price/price.css";
@import "./blocks/about-us/about-us.css";
@import "./blocks/contacts-item/contacts-item.css";
@import "./blocks/contacts/contacts.css";
@import "./blocks/social/social.css";
@import "./blocks/fitchers/fitchers.css";
@import "./blocks/comments/comments.css";
@import "./blocks/footer/footer.css";
@import "./blocks/author-description/author-description.css";
@import "./blocks/author-description/author-description.css";
@import "./blocks/address/address.css";
@import "./blocks/site-map/site-map.css";
body{
    font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular", sans-serif;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
