@import "./__header/__header.css";
@import "./__title/__title.css";
@import "./__properties/__properties.css";
@import "./_theme/_grey.css";
@import "./_theme/_red.css";
@import "./_theme/green.css";
@import "./__image/__image.css";
@import "./__footer/__footer.css";

.package {
  height: 565px;
  width: 255px;
  border-top: 5px solid #f9d423;
  border-color: #f9d423;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 4px 0px #cccaca;
}
.package_theme_green {
  border-color: #1abc9c;
}

.package_theme_red{
  border-color: #f85f40
}

.package_theme_grey{
  border-color: #7f8c8d
}

.package__image{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 5px solid;
  height: 55px;
  width: 55px;
  text-align: center;
  font-size: 16px;

  /* todo */
  /* margin-right: 15px;*/
}
/* todo */
.package__image_theme_basic-package {
  color: #f9d423;
}
.package__image_theme_normal-package {
  color: #7f8c8d;
}
.package__image_theme_big-package {
  color: #f85f40;
}
.package__image_theme_biggest-package {
  color: #1abc9c;
}
