@import "./__container/__container.css";
@import "./__image/__image.css";
@import "./__title/__title.css";
@import "./__item/__item.css";
@import "./__description/__description.css";
.fitchers {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0px;
}
